terraform {
  source = "..//ec2"

  extra_arguments "custom_vars" {
    commands = [
      "apply",
      "plan",
      "refresh"
    ]

    arguments = [
      "-var-file=${get_terragrunt_dir()}/terraform.tfvars"
    ]
  }
}

remote_state {
  backend = "s3"
  config = {
    bucket         = "minecraft-deployer-tfstate"
    dynamodb_table = "minecraft-deployer-tfstate-lock"
    key            = "terraform.tfstate"
    region         = "us-west-2"
    encrypt        = true
    profile        = "default"
  }
}
